.invalid {
    border: 2px solid red;
}

.errorMessage {
    color: red;
    font-size: 12px;
    margin-top: 4px;
    font-style: italic;
    display: block;
}

.inputGroup {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}